:root {
    --brown-500: hsl(6, 23%, 49%); /*#996660*/

    --tan-500: hsl(34, 42%, 75%); /*#DAC3A5*/
}

/******************************************
/* BASE STYLES
/*******************************************/

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Poppins', Helvetica, Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    padding-left: 0;
}


a {
    text-decoration: none;
    color: inherit;
}

/******************************************
/* LAYOUT
/*******************************************/

/*-----Header*/
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover-image {
    width: 800px;
    max-width: 100%;
}

nav {
    color: white;
    background-color: var(--tan-500);
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 0;
    margin: 0;
}

nav li {
    width: 60%;
    height: 2rem;
    text-align: center;
    background-color: var(--brown-500);
    border: 2px solid var(--tan-500);
    border-radius: 5px;
}

nav li:not(:last-of-type) {
    border-bottom: none;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100%; 
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
